{% extends 'job_platform/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
        </div>
    </div>

</div>
<a style="top:20%;position:absolute" href ="{% url 'job_platform:create_job' %}">Post a Job</a>
<ul style="top:30%;position:absolute">
{% for j in Jobs %}
  <li>
  {{ j.position }} at {{j.company}}<br/>
  Poster: {{ j.user.username }}<br/>
  {% if j.image %}
    <img src="{{ j.image.url }}" alt="img" style="height:200px;width:200px"/>
  {% endif %}
  </li>
{% endfor %}
</ul>
{% endblock %}
