body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: rgb(26, 26, 26);
}

hr.light {
  border-color: #fff;
}

a {
  color: rgb(26, 26, 26);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: rgb(255, 255, 255);
}

a.copyright {
    color: #fff !important;
}

a.copyright:hover {
    color: rgb(200, 200, 200) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: rgb(26, 26, 26) !important;
}

.bg-dark {
  background-color: rgb(50, 50, 50) !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav2 .nav-link.active {
  /*
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 1px;
  */
  border-bottom: 3px solid white;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: rgb(50, 50, 50);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(26, 26, 26);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: rgb(26, 26, 26);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: rgb(26, 26, 26);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: rgb(26, 26, 26) !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: rgba(180, 180, 180, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .navbar-brand {
    color: rgba(50, 50, 50, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(50, 50, 50, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgb(50,50,50);
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: rgb(26, 26, 26);
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: rgb(26, 26, 26);
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgb(26, 26, 26);
  }
}

/* NAVBAR ON AUTHENTICATED LOGIN */

#mainNav2 {
  background-color: rgb(50, 50, 50);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav2 .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(26, 26, 26);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav2 .navbar-brand:focus, #mainNav2 .navbar-brand:hover {
  color: rgb(26, 26, 26);
}

#mainNav2 .navbar-nav > li.nav-item > a.nav-link,
#mainNav2 .navbar-nav > li.nav-item > a.nav-link:focus {
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav2 .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav2 .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: rgb(26, 26, 26);
}

#mainNav2 .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav2 .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: rgb(220, 220, 220) !important;
  background-color: rgb(50, 50, 50);
}

#mainNav2 .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav2 .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav2 {
    border-color: rgba(180, 180, 180, 0.5);
    background-color: rgb(50, 50, 50);
  }
  #mainNav2 .navbar-brand {
    color: #fff;
  }
  #mainNav2 .navbar-brand:focus, #mainNav2 .navbar-brand:hover {
    color: #fff;
  }
  #mainNav2 .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
  }
  #mainNav2 .navbar-nav > li.nav-item > a.nav-link,
  #mainNav2 .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
  }
  
  #mainNav2 .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav2 .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgb(185, 185, 185);
  }
  
  #mainNav2.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: rgb(50, 50, 50);
  }
  #mainNav2.navbar-shrink .navbar-brand {
    color: rgb(26, 26, 26);
  }
  #mainNav2.navbar-shrink .navbar-brand:focus, #mainNav2.navbar-shrink .navbar-brand:hover {
    color: rgb(26, 26, 26);
  }
  #mainNav2.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav2.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav2.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav2.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgb(26, 26, 26);
  }
}

/* ---------------------------- */

#home, #jobs {
  margin-top: 5%;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../images/landing.jpg");
  background-position: center center;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

/* LOGIN */

header.mastheadlogin {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
}

header.mastheadlogin hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.mastheadlogin h1 {
  font-size: 2rem;
}

header.mastheadlogin p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.mastheadlogin p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.mastheadlogin {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 10%;
  }
  header.mastheadlogin h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.mastheadlogin h1 {
    font-size: 4rem;
  }
}

.page-footer {
    background-color: rgb(50,50,50) !important;
}

.footer-copyright {
    color: white !important;
}

.form-username {
    background-color: black !important;
}

.signup {
  padding: 0px 25px 0px 25px !important;
}

.card-header-dark {
  background-color: rgb(50,50,50) !important;
  border-color: rgb(50,50,50) !important;
  color: #fff;
}

.card-alignment {
  margin-top: 8% !important;
}

.toast {
  position: fixed;
  z-index: 9999;
}

#toast-success {
  background-color: rgba(220, 255, 236, 0.6) !important;
}

#toast-error {
  background-color: rgba(248, 215, 215, 0.6) !important;
}

#toast-warning {
  background-color: rgba(255, 249, 217, 0.6) !important;
}

#login-box {
  margin-top: 4% !important;
  border: 1px solid grey;
  background-color: rgba(250, 250, 250, 0.5) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cards {
  border: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar-footer {
  background-color: rgb(250, 250, 250);
}

.dropdown-menu {
  min-width: 250px;
}

.row.user-menu-text {
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: rgba(220, 220, 220, 0.5);
}
